  <body>
    <!-- Title bar -->
    {{> nav/nav-block}}
    {{> nav/sidebar-block}}
    <div class="container">
      <div class="wrapper">
        <div class="row justify-content-center">
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            {{isloggedin}}
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:{{user.firstName}}</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>