<body>
    <!-- Title bar -->
    <nav class="navbar titlebar fixed-top">
      <div class="container-fluid justify-content-center">
        <span id="title" class="m-1 h1">Food </span
        ><i class="fas fa-utensils fa-2x text-light"></i>
      </div>
    </nav>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="openbtn" onclick="closeNav()"
        >&times;</a
      >

      <a href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="30"
          fill="currentColor"
          class="bi bi-house"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          />
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          /></svg
      ></a>
      <a href="#">Search</a>
      <a href="#">Users</a>
      <a href="#">DIY</a>
      <a href="#">Drinks</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
    </div>

    <div class="container">
      <div class="wrapper">
        <div class="row justify-content-center">
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
          <div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>Post Subject</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Title:</li>
                <li class="list-group-item">By:</li>
                <li class="list-group-item">Date:</li>
                <li class="list-group-item">Likes:</li>
                <li class="list-group-item">Dislikes:</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>