
{{> nav/sidebar-block}}
  <body class="home">
    <div class="container">
        <row style="text-align: center">
          <div class="deconstructed">
            POSTS N' STUFF
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
          </div>
        </row>


      <div class="container con1 justify-content-center">
        <row>
          <div class="wrapper icons" style="text-align: center">
              <i class="fas fa-cocktail fa-6x text-light"><br><p>DRINKS</p></i>
              <i class="fas fa-utensils fa-6x text-light"><br><p>FOOD</p></i>
              <i class="fas fa-tools fa-6x text-light"><br><p>DIY</p></i>
          </div>
        </row>
      </div>
    </div>

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>

    {{!-- <script src="script.js"></script> --}}
  </body>

  {{> modal/login-block}}