 <div class="container con1 justify-content-center">
        <div class="wrapper" style="text-align: center">
            <i class="fas fa-cocktail fa-9x text-light"></i>
            <i class="fas fa-utensils fa-9x text-light"></i>
            <i class="fas fa-tools fa-9x text-light"></i>
        </div>
      </div>

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>