
  <nav>
    <div class="navbar fixed-top">
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/some-feature">Menu item here</a>
        </li> --}}
      <ul class="nav navbar ml-auto">
        {{#if isloggedin}}
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="#" id="login-modal">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="/register" data-register={{register}}>Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  
  <body class="home">
    <div class="container">
        <row style="text-align: center">
          <div class="deconstructed">
            POSTS N' STUFF
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
            <div>POSTS N' STUFF</div>
          </div>
        </row>


      <div class="container con1 justify-content-center">
        <row>
          <div class="wrapper icons" style="text-align: center">
              <i class="fas fa-cocktail fa-6x text-light" id="drinks" onclick="drinks()"<br><p>DRINKS</p></i>
              <i class="fas fa-utensils fa-6x text-light" id="food" onclick="food()"><br><p>FOOD</p></i>
              <i class="fas fa-tools fa-6x text-light" id="diy" onclick="diy()"><br><p>DIY</p></i>
          </div>
        </row>
      </div>
    </div>

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>

    
  </body>

  {{> modal/login-block}}
