{{> nav/nav-block}}
{{> nav/sidebar-block}}
          {{#each post}}

              {{> post}}

          {{/each}}

    <footer class="navbar bg-dark fixed-bottom">
      <div class="container d-flex justify-content-center">
        <span> &#169; Made By Team 7</span>
      </div>
    </footer>