<div class="modal" id="post-info" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputPost">Title</label>
            <input type="text" class="form-control" id="post-title">
          </div>
          <div class="form-group">
            <label for="inputPost">Image Link</label>
            <input type="text" class="form-control" id="image-link">
          </div>
          <div class="form-group">
            <label for="inputPost">Choose your category:</label>
            <select class="form-control" id="category-post">
              <option>Food</option>
              <option>Drink</option>
              <option>DIY</option>
            </select>
          </div>
          <div>
            <label for="inputPost">Post Content</label>
            <textarea type="text" class="form-control" id="post-body" rows="12"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button id="newPost" type="button" class="btn btn-primary">Post</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>