#sideBar {
  background-color: rgba(0, 0, 0, 0.555);
  color: whitesmoke;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0), 1px 1px 0 rgba(0, 0, 0, 0.25),
    3px 3px 3px rgba(0, 0, 0, 0.25), 5px 5px 10px rgba(0, 0, 0, 0.5),
    20px 40px 40px rgba(0, 0, 0, 0.5);
  z-index: +1;
}
.card-header {
  background-color: rgb(97, 100, 98);
  border-radius: 20%;
}

.card {
  margin-right: 150px;
  box-shadow: 12px 12px 2px 1px rgb(49, 49, 53);
}

html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  /* padding-top: 37px; */
}

.titlebar {
  /* background: rgba(139, 99, 181, 0.534); */
  background: linear-gradient(90deg, #09796c 0%, #2ab6b0 49%, #2ab6b0 100%);
  border-bottom: 2px solid rgb(230, 230, 230);
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0), 1px 1px 0 rgba(0, 0, 0, 0.25),
    3px 3px 3px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.5),
    20px 40px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  
}
#Posts {
  height: 55px;
  width: auto;
  margin-left: 20px;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.596));
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.596));
}

.postingRow {
  align-content: center;
}

span {
  font-size: 12px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0), 1px 1px 0 rgba(0, 0, 0, 0.25),
    3px 3px 3px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.5),
    20px 40px 40px rgba(0, 0, 0, 0.5);
}

/*second option */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#title {
  color: whitesmoke;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.card {
  margin: 15px;
  box-shadow: 2px 2px 5px gray;
}
.fa-utensils, .fa-tools {
  margin-left: 50px;
  margin-top: 50px;
}
p {
  padding: 20px;
  font-size: 50px;
}
.home {
  background: linear-gradient(90deg, #09796c 0%, #2ab6b0 49%, #2ab6b0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.deconstructed {
  position: relative;
  margin-bottom: 20px;
  height: 0.71em;
  color: transparent;
  font-family: "Cambay", sans-serif;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 100;
  left: 4%;
  right: 0;
  bottom: 0;
  color: white;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 10s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  animation: deconstructed2 10s infinite;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  animation: deconstructed3 10s infinite;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 10s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

.navbar.transparent.navbar-inverse {
  position:fixed;
  top: 0;
  width: 100%;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
/* 
body {
  color: white;
  background-size: cover;
  height:100%
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115,.6);
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
}  */
