<nav class="navbar titlebar static-top">
  <div class="container-fluid justify-content-center">
    <div id="title" class="m-1 h1">{{category}}</div>
    <ul class="nav navbar ml-auto">

      {{#if isloggedin}}
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="/logout">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="#" id="login-modal">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="/register" data-register={{register}}>Register</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

{{> modal/login-block}}